:host {
    padding: 8px;
    display: block;
    width: 320px;
}

input {
    z-index: 1;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    display: block;
    font-size: 12px;
    position: relative;
    background-color: #d5d5d5;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.25);

    &,
    &::placeholder {
        font-family: "Roboto Condensed", sans-serif;
    }
}

.search-result-wrapper {
    margin-top: -36px;
    padding-top: 48px;
    max-height: 100vh;
    display: flex;
}

.search-results {
    background-color: #d5d5d5;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    overflow: auto;
    font-size: 12px;
    width: 100%;
}

.search-item {
    display: block;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px 32px 10px 8px;

}

button.search-item {
    width: 100%;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-family: "Roboto Condensed", sans-serif;

    &:focus,
    &:hover {
        background-color: rgba(0, 0, 0, 0.125);
        box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    }
}

.favorite-icon {
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    left: auto;
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    line-height: 32px;
    text-align: center;
    position: absolute;
}