:host {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: block;
    pointer-events: none;
}

.drag-animate {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.panel {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    position: fixed;
    align-items: center;
    pointer-events: all;
    justify-content: center;
}

.panel-backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
}
